@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="/AccountsRoles/Store" method="post">
    <div>
        Name <input type="text" name="name" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>